<div class="search-wrapper">
    <input type="searchTerm" name="searchTerm" id="searchTerm" placeholder="Search Food">
    <button type="submit" class="btn btn-outline-success">Search</button>
    <input type="checkbox" id="searchType" name="searchType" value="Branded">
            Include Branded Foods
</div>